:root {
    --primary-color: #4286f4;
    --secondary-color: #f4af42;
    --font-size: 16px;
}


body {
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
}
.container {
    width: 70%;
    height: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    position: relative;
}

h1::before{
    content:"";
    display:block;
    left: 5%;
    top: 50%;
   background: #ffffff;
   width: 55px;
   height: 5px;
    position: absolute;
  

}

h1::after {
    content: "";
    display: block;
    right: 5%;
    top: 50%;
    background: #ffffff;
    width: 55px;
    height: 5px;
    position: absolute;

}

a{
    color: greenyellow;
    font-weight: bolder;

}


 p {
     color: #ffffff;
     text-align: justify;
 }

 ul {
    font-size: large;
     color: #ffffff;
 }

ul li:first-child {
    color: var(--secondary-color);
    font-weight: bold;
}

img {
    margin-top: 40px;
    width: 400px;
    height: 200px;
}

table {

    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
}

th {
    border: 1px solid #ffffff;
    background-color: var(--secondary-color);
    color: #ffffff;
    padding: 8px;
}

.colum-1{
    background-color: aqua;
}

.colum-2 {
    background-color:blueviolet;
}
.colum-3 {
    background-color:beige;
}
.colum-4 {
    background-color:chocolate;
}

td {
    border: 1px solid #000000;
    padding: 8px;
}

tbody td:hover {
    background-color:#ffffff;
}
footer {
    background-color: #111;
}

.sticky-footer {
    margin-top: 100px;
    position: sticky;
    top: 100%;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li {
    color: #ffffff;
    margin: 20px;
}

.footerbottom {
    display: flex;
    justify-content: center;
}